.here {
  text-decoration: none;
}
.not-here {
  color: grey;
}
.not-here a {
  color: #BBB;
}
.flex-container {
  display: flex;
  flex-direction: row;
}
.flex-item {
  padding: 10px;
}
.medium-text-area {
  height: 50px;
  width: 300px;
}
.big-button {
  height: 100px;
  width: 300px;
  font-size: 3em;
  color: white;
  background-color: green;
  border-radius: 10px;
  margin: 20px;
}
.button-row a {
  text-decoration: none;
}
.chef-card, .restaurant-item {
  border: 1px solid black;
  border-radius: 5px;
  width: 250px;
  padding: 4px;
  margin: 5px;
}
.chef-card .title-bar {
  font-size: 1.3em;
}
.chef-card .bio {
  padding: 8px;
  min-height: 80px;
  margin-left: 80px;
}
.chef-card .students {
  padding: 8px;
  border: 1px solid grey;
  border-radius: 5px;
  max-width: 225px;
}
.pull-right {
  float: right;
}
button.pull-right {
  float: right;
  background-color: red;
}
.pull-left {
  float: left;
}
button.pull-left {
  float: left;
  background-color: green;
}
.chef-card .img-icon {
  max-width: 64px;
  max-height: 64px;
  padding: 5px;
}
.chef-show .img-icon {
  max-width: 256px;
  max-height: 256px;
  padding: 5px;
}
.img-icon {
  max-width: 256px;
  max-height: 256px;
  padding: 5px;
}
.email-info {
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}
