<p>
  Want to know if your favorite chef is cooking right now? Chef Tracker
  has your back.
</p>
{{#collapsible-component as |isOpen component|}}
  <div {{action 'toggleOpen' target=component}}>
    {{#if isOpen}}
      <p>
        This app is of supreme quality, though perhaps not as supreme
        as the meals our tracked chefs cook for you!
      </p>
      See less..
    {{else}}
      See more..
    {{/if}}
  </div>
{{/collapsible-component}}
{{email-info}}
