<h1>Super Chefs!</h1>
<p>
  Somehow, we managed to get the most well-known chefs to agree to letting us
  know when they are cooking. Want to know too? Check out our app!
</p>
{{#link-to 'chefs'}}
  <button class="big-button">Enter ></button>
{{/link-to}}
